<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParseData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ParseData.Properties.Settings>
            <setting name="ResumeDBpath" serializeAs="String">
                <value>F:\Rohit\c#learning\Databases\ResumeDataBase.sdf</value>
            </setting>
            <setting name="TempResumeFolder" serializeAs="String">
                <value>F:\Rohit\c#learning\GitHub\sqlCandidate 8\Temp</value>
            </setting>
            <setting name="TempOutput" serializeAs="String">
                <value>F:\Rohit\c#learning\GitHub\sqlCandidate 8\TempOut</value>
            </setting>
            <setting name="TempOutFile" serializeAs="String">
                <value>F:\Rohit\c#learning\GitHub\sqlCandidate 8\TempOut\Convert\Resume.doc</value>
            </setting>
            <setting name="TempInFile" serializeAs="String">
                <value>F:\Rohit\c#learning\GitHub\sqlCandidate 8\Temp\Input\Resume.txt</value>
            </setting>
            <setting name="textout" serializeAs="String">
                <value>F:\Rohit\c#learning\GitHub\sqlCandidate 8\TempOut\Convert\Resume.txt</value>
            </setting>
        </ParseData.Properties.Settings>
    </userSettings>
</configuration>