<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ResumeMVVMLight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ResumeMVVMLight.Properties.Settings>
            <setting name="TempResumeFolder" serializeAs="String">
                <value>F:\Rohit\c#learning\GitHub\Temp</value>
            </setting>
            <setting name="ResumeDBpath" serializeAs="String">
                <value>F:\Rohit\c#learning\Databases\ResumeDataBase.sdf</value>
            </setting>
            <setting name="TempOutput" serializeAs="String">
                <value>F:\Rohit\c#learning\GitHub\TempOut</value>
            </setting>
            <setting name="TempOutFile" serializeAs="String">
                <value>F:\Rohit\c#learning\GitHub\TempOut\Convert\Resume.doc</value>
            </setting>
            <setting name="TempInFile" serializeAs="String">
                <value>F:\Rohit\c#learning\GitHub\Temp\Input\Resume.txt</value>
            </setting>
            <setting name="textout" serializeAs="String">
                <value>F:\Rohit\c#learning\GitHub\TempOut\Convert\Resume.txt</value>
            </setting>
        </ResumeMVVMLight.Properties.Settings>
    </userSettings>
</configuration>